<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Easiest Way to Add Input Masks to Your Forms</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/cadastro.css">
</head>
<body>
    <div class="registration-form">
        <form th:object="${cliente}" th:action="@{/clientes/salvar}" method="post">
            <div class="social-media">
                <div class="form-icon">
                    <span><i class="icon icon-user"></i></span>
                </div>
                <h5>Cadastrar Cliente</h5>
            </div>
            <p></p>
            <div class="form-group">
                <input type="text" th:field="*{nome}" class="form-control item" id="username" placeholder="Nome">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{endereco}" class="form-control item" id="adress" placeholder="Endereço">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{telefone}" class="form-control item" id="phone-number" placeholder="Telefone">
            </div>
            <div class="form-group">
                <input type="text" th:field="*{dataNascimento}" class="form-control item" id="birth-date" placeholder="Data aniversário">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Salvar</button>
            </div>
        </form>

    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="js/cadastro.js"></script>
</body>
</html>
