body{
    background-color: #dee9ff;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.registration-form .social-media h5 {
    margin: 0; /* Remove a margem padrão do h5 para melhor alinhamento */
}
.registration-form .social-media .form-icon{
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 24px; /* Reduzi o tamanho da fonte do ícone para melhor encaixe */
    color: white;
    width: 50px; /* Reduzi a largura do círculo do ícone */
    height: 50px; /* Reduzi a altura do círculo do ícone */
    line-height: 50px; /* Centraliza o ícone verticalmente dentro do círculo menor */
    margin: 0; /* Remove as margens automáticas que centralizavam o ícone */
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 15px 0; /* Reduzi o padding vertical para melhor alinhamento */
    display: flex; /* Habilita o Flexbox */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Centraliza os itens horizontalmente */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    gap: 15px; /* Adiciona um espaço entre o ícone e o texto */
    text-align: left; /* Alinha o texto à esquerda dentro do container */
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}