/* Estilos globais */
body {
    background-color: #f8f9fa;
}
.navbar-brand i {
    color: #ffc107; /* Cor do Donuts */
}

/* Estilos para a tabela */
.table th, .table td {
    white-space: nowrap;
}

/* Estilos de cor para o dashboard, se desejar */
.card-header-icon {
    font-size: 2rem;
    color: #fff;
    opacity: 0.7;
}

#tabela{
    padding:5px;
}

.table-sm td,
.table-sm th {
    padding-top: 5px;   /* Exemplo de espaçamento superior */
    padding-bottom: 5px; /* Exemplo de espaçamento inferior */
}

.autocomplete-container { position: relative;}
        #sugestoes {
            list-style: none;
            padding: 0;
            margin: 0;
            border: 1px solid #ddd;
            border-top: none;
            position: absolute;
            width: 100%;
            background-color: white;
            z-index: 1000;
        }
        #sugestoes li {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #eee;
        }
        #sugestoes li:hover {
            background-color: #f1f1f1;
        }
/* Outros estilos, como hover effects e espaçamento */